body{
    margin: 0;
    background-color: #121212;
}
button{
    cursor:pointer;
}
select{
    -webkit-appearance: none;
    cursor:pointer;
}
option{
    cursor:pointer;
}
#head{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #bbbbbb;
    text-align: center;
    width: 100%;
    height: 120px;
    position: fixed;
    margin: 0;
    z-index: 99 !important;
}
#head p{
    padding: 5px;
    font-size: 64px;
}
#quizselect{
    border-color: #202020;
    background-color: #363636;
    color: #bbbbbb;
    margin-left: auto;
    text-align: center;
    z-index: 99 !important;
    width: 140px;
    height: 100%;
}
#numQuestions{
    border-color: #202020;
    background-color: #363636;
    color: #bbbbbb;
    text-align: center;
    z-index: 99 !important;
    width: 100px;
    height: 100%;
}
#reset{
    border-color: #202020;
    background-color: #363636;
    color: #bbbbbb;
}
question{
    display: flex;
    position: absolute;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    z-index: 98 !important;
}
question h3{
    background-color: #363636;
    color: #bbbbbb;
    border: 10px solid #363636;;
    border-radius: 5px;
}
question table{
    width: 75%;
    height: 15vh;
    border-spacing: 1rem;
}
question table td{
    width: 50%;
}
question table td button{
    width: 100%;
    height: 100%;
    border-color: #202020;
    background-color: #363636;
    color: #bbbbbb;
}
parallax{
    height: 1200px;
    width: 100%;
    font-family: sans-serif;
    text-align: center;
    display: table;
    box-sizing: border-box;
}
.bg1{
    background-image: url(background.png);
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
}
.bg2{
    background-image: url(backgroundDark3.png);
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(2px);
}
.body1{
    background:#363636;
    color: #bbbbbb;
}
.body2{
    height: auto;
    background:#000000;
}
#copy{
    display: table-cell;
    vertical-align: bottom;
    color: #bbbbbb;
    padding: 10px;
}
.cq{
    border: none;
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
}
.cquestion{
    width: 50%;
    padding: 0;
}
.checkbox{
    width:10%
}
.s1Answer{
    width: 30%;
}
.s2Answer{
    width: 30%;
}
.s3Answer{
    width: 30%;
}
.s4Answer{
    width: 30%;
}